
.modal {
  width: 50vw;
  position: absolute;
  top: 20%;
  left: 25%;
  background-color: grey;
  border: 1px solid #ccc;
  border-radius: 5px;
  opacity: 1;
}

.close-modal {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
